@{
    Layout = "_Layout";
    var product = this.ViewBag.Product as ProductModel;
}
<div class="card bg-primary text-white">
    <h1 class="card-header"> @product.Name</h1>
    <div class="card-body">
        <p class="card-text">@product.Description</p>
    </div>
</div>
<hr />
