@model string

@{
    Layout = "_Layout";
}
<div class="card bg-success text-white">
    <h1 class="card-header">Hi Everyone! I'm @Model</h1>
    <div class="card-body">
        <p class="card-text">You are styding about ASP.NET MVC</p>
    </div>
</div>
<hr />
@this.Path